
#storeLogo {
  max-width: 100%;
  height: 100px;
  padding: 12px 20px;
}

@media screen and (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }
}

a {
  outline: none !important;
}

.disable-scrolling {
  /*overflow: hidden;*/
}

label.error {
  color: #b94a48;
}

.hidden {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.left-align,
td.left-align,
th.left-align {
  text-align: left;
}
.right-align,
td.right-align,
th.right-align {
  text-align: right;
}

.center-align,
td.center-align,
th.center-align {
  text-align: center;
}

.yempro-modal {
  z-index: 1060;
}

.yempro-modal .modal-dialog .modal-content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.yempro-modal .modal-dialog {
  margin-top: 0;
  /* width: 94%; */
  /* margin-left: 3%; */
  /* min-width: 94%; */
  /* min-width: 1120px; */
  margin-bottom: 50px;
}
@media (min-width: 401px) and (max-width: 767px) {
  .yempro-modal .modal-dialog {
    width: 90%;
    margin-left: 5%;
    min-width: 90%;
  }

  .product-item {
    /* width: 100%; */
  }
}
@media (min-width: 768px) and (max-width: 1220px) {
  .yempro-modal .modal-dialog {
    width: 80%;
    margin-left: 10%;
    min-width: 80%;
  }
}
@media (min-width: 1221px) and (max-width: 1480px) {
  .yempro-modal .modal-dialog {
    width: 70%;
    margin-left: 17.5%;
    /* min-width: 70%; */
    min-width: 1120px;
  }
}
@media (min-width: 1481px) and (max-width: 1780px) {
  .yempro-modal .modal-dialog {
    width: 60%;
    margin-left: 20%;
    min-width: 60%;
  }
}

.yempro-modal-body img {
  padding: 30px;
  max-width: 100%;

  /* min-width:35px; */
  /* min-height:35px; */
  background: #ffffff url(../img/ajax-loader.gif) center center no-repeat;
}

.modal-footer {
  clear: both;
}

.no-cursor {
  cursor: default;
}


/* item specifics */

/* product details modal footer height */
.product_details_modal .modal-footer {
  height: 50px;
}
/* cart holder modal footer height */
#cartHolder .modal-footer {
  height: 80px;
}
/* show cart button top margin */
#showCart {
  margin-top: 40px;
}

/* Categories breadcrumb color */
#productsBreadcrumb {
  /*color:#aaa;*/
  border-bottom: 1px #564835 solid;
  border-radius: 4px;
  padding: 20px;
  background-color:#564835;
}
#productsBreadcrumb a {
  color:#fff;
}
.yempro-breadcrumb-container {
  /*top: 0;*/
  right: 0;
  left: 0;
  /* z-index: 3; */
  /* position: fixed; */
}

.yempro-header-container {
  justify-content: space-between;
  padding: 0;
}

#categoriesList {
  padding: 8px;
}

#categoriesList .category-link-all {
  padding-right: 10px;
}

#categoriesList .list-group-item {
  -webkit-transition: all 0.5ms;
  -moz-transition: all 0.5ms;
  -ms-transition: all 0.5ms;
  -o-transition: all 0.5ms;
  transition: all 0.5ms;
}

#categoriesList .list-group-item.active {
  color: #fff;
  background-color: #564835;
  border-color: #594A37;
  /* border-radius: 0.25rem; */
  padding: 20px;
}

@media (max-width: 768px) {
  .yempro-header-container {
    justify-content: center;
  }
}

/* Current Category */
.active-category {
  margin-left: 1px;
}

#current_products_count {
  margin-top: 8px;
}

/* Shopping Cart loader position */
#loaderContainer {
  width: 200px;
  vertical-align: middle;
  text-align: center;
  background: #564835;
  overflow: hidden;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  position: fixed;
  left: calc(50% - 100px);
  top: calc(50% - 100px);

}

#loaderContainer .yempro-loading-status {
  background: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}

/* Thumbnail image holder */
.thumb-holder {
  margin: 0 auto;
  min-width: 100px;
  max-height: auto;
  padding: 10px;
  overflow: hidden;
  background: #ffffff url(../img/ajax-loader.gif) center center no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}

.thumb-holder.yempro-image-broken {
  background: #ffffff url(../img/image-broken.png) center center no-repeat;
}

.yempro-broken-file-link {
  min-height: 128px;
  text-align: center;
  background: transparent url(../img/broken.png) center center no-repeat;
}

img.yempro-loader {
  min-width: 35px;
  min-height: 35px;
  background: #ffffff url(../img/ajax-loader.gif) center center no-repeat;
}

.product-item {
  width: 320px;
  /*background 			: rgba(255,255,255,0.06); */

  min-height: 200px;
  float: left;
  padding: 1px 1px 16px 1px;
  margin-bottom: 16px;

  /* -webkit-opacity 	: 0; */
  /* -moz-opacity 		: 0; */
  /* opacity 			: 0; */

  /*margin: 20px 20px 0px 0!important;*/

  -webkit-transition: margin-top 0.5s ease-in-out, background 0.3s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out, background 0.3s ease-in-out;
  -ms-transition: margin-top 0.5s ease-in-out, background 0.3s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out, background 0.3s ease-in-out;
  transition: margin-top 0.5s ease-in-out, background 0.3s ease-in-out;
  text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.product-item .thumbnail {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-item .popover {
  min-width: 250px;
}

.popover {
  max-width: 500px;
}

.yempro-popover-content .input-group {
  margin-bottom: 12px;
}

.yempro-cart-thumbnail {
  text-align: center;
}
.yempro-cart-thumbnail img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.yempro-spin-animation {
  animation-name: spin-animation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 0px) {
  .product-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .product-item {
    width: 49%;
  }
}
@media (min-width: 1221px) {
  .product-item {
    width: 36%;
  }
  .modal-dialog {
    min-width: 1221px;
  }
}
@media (min-width: 1481px) {
  .product-item {
    width: 32%;
    max-width: 400px;
  }
}

.yempro-gutter-sizer {
  list-style: none;
  width: 16px;
}
@media (min-width: 401px) {
  .yempro-gutter-sizer {
    width: 0%;
  }
}
@media (min-width: 721px) {
  .yempro-gutter-sizer {
    width: 1.505%;
  }
}
@media (min-width: 1221px) {
  .yempro-gutter-sizer {
    width: 1.33%;
  }
}
@media (min-width: 1481px) {
  .yempro-gutter-sizer {
    width: 2%;
  }
}

.product-item.fade-in {
  /*margin: 0px 20px 20px 0!important;*/
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.product-item .card-text {
  color: #777777;
}

.yempro-product-attributes {
  color: #aaa;
  font-size: 0.45em;
}

#productsContainer {
  min-height: 60px;
  
}

#productsContainer .product-link {
  font-size: 130%;
  color: #1a9636;
  text-decoration: none;
}

/* Price amount color */
.product-price {
  color: #c80000;
}
#productsContainer .product-price {
  font-size: 130%;
}

/* Product summery */
.product_sum {
  min-height: 70px;
}

.old-product-price {
  color: #aaa;
  text-decoration: line-through;
  font-size: 90%;
  font-weight: normal;
}

/* Footer */
#footer {
  background: #ddd;
  /* position:fixed;  */
  /* bottom:0; */
  /*margin-bottom:-10px; */
  padding: 0px;
  border-top: 1px #dddddd solid;
  border-radius: 0;
  width: 100%;
  /* padding: 4px; */
  /* z-index: 3; */
  /* font-size: 85%; */
}

.footer-text {
  font-size: 85%;
  width: 100%;
  padding: 8px;
}

.yempro-header-bar {
  background-color: #2c2c2c;
}

.yempro-header-bar img {
  max-width: 100%;
}

.yempro-nested-group-controls .controls {
  margin-bottom: 10px;
}

#searchedProductCounts {
  padding: 4px 0;
  color: #898989;
}

.bs-callout-danger {
  border-left-color: #d9534f !important;
}

.bs-callout {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  color: #aaa;
}

.color-red {
  color: #d9534f;
}

label.error {
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  padding: 4px 0 0 0;
  font-size: 80%;
  margin-top: 0.25rem;
}

.preloader {
  font-size: 10px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
}

.product-item-thumb-image {
  width: 100%; 
  height: auto;
  
  /* padding: 10px; */

  border-radius: 4px;
}

.yempro-btns .btn {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  
}

.yempro-btns .btn:not(:last-child) {
  margin-right: 0.25rem;
}

.clear-search-result-btn,
.clear-search-result-btn:hover {
  border-color: #ced4da;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.yempro-number-spinner .input-group-btn button[data-dir="dwn"] {
  border-radius: 0;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.yempro-number-spinner .input-group-btn button[data-dir="up"] {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.yempro-sidebar-toggle-btn {
  display: none;
}
.yempro-sidebar-container {
  height: 100vh;
  position: fixed;
  top: 0;
}

@media (min-width: 768px) {
  .yempro-sidebar-container {
    overflow: auto;
    left: -16px;
  }
}

@media (max-width: 767px) {
  .yempro-btns,
  .yempro-btns .btn {
    width: 100%;
  }

  .yempro-shopping-cart .table-bordered thead {
    display: none;
  }
  .yempro-shopping-cart .table-bordered td,
  .yempro-shopping-cart .table-bordered th {
    display: block;
    border: none;
  }

  .input-group > .form-control:not(:first-child).search-product {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .yempro-breadcrumb-container {
    margin-top: 11rem;
  }

  .yempro-search-container {
    position: fixed;
    width: 96vw;
    top: 0;
    left: 2vw;
    /* padding: 10px; */
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
  }
  .yempro-sidebar-container {
    left: -90vw;
    width: 90vw;
    position: absolute;
    z-index: 4;
    background-color: white;
  }
  .yempro-sidebar-container {
    -webkit-transition: all 0.5ms;
    -moz-transition: all 0.5ms;
    -ms-transition: all 0.5ms;
    -o-transition: all 0.5ms;
    transition: all 0.5ms;
  }
  .yempro-sidebar-opened .yempro-sidebar-container {
    overflow: auto;
    left: -16px;
    position: fixed;
  }
  body.yempro-sidebar-opened {
    overflow: hidden;
  }
  .yempro-sidebar-opened .yempro-main-area {
    overflow: hidden;
    pointer-events: none;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .yempro-sidebar-opened .yempro-sidebar-toggle-btn {
    right: 8px;
    left: auto;
    position: absolute;
  }

  .yempro-sidebar-toggle-btn {
    display: block;
    position: fixed;
    z-index: 1;
    /* right: -48px; */
    left: 0;
    top: 4px;
  }
  .yempro-sidebar-toggle-btn .fa-times,
  .yempro-spotlight-search-text {
    display: none;
  }
  .yempro-sidebar-opened .yempro-sidebar-toggle-btn .fa-times {
    display: block;
  }

  .yempro-sidebar-opened .yempro-sidebar-toggle-btn .fa-bars {
    display: none;
  }

  .yempro-sidebar-opened .yempro-sidebar-overlay {
    display: block !important;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }


}

.search-product {
  font-size: 1.5rem;
}

.yempro-search-container .input-group-text {
  font-size: 1.5rem;
}

.custom-select.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  /* padding: .5rem 1rem; */
  font-size: 1.25rem;
  /* line-height: 1.5; */
  /* border-radius: .3rem; */
}

.yempro-details-link-window-icon {
  right: 4px;
  top: 0px;
  position: absolute;
}

.yempro-details-link-window-icon .fa {
  background-color: white;
  padding: 4px;
}
.yempro-details-link-window-icon small {
	background-color:#fff;
	color:#000;
	padding:4px;
	font-size:60%
}

.btn-yempro {
	background-color: #564835;
	color:#fff
}

.txt-yempro {
	color: #564835;
}

.txt-yempro-dark {
	color: #13151a;
}

.yempro-footer-bar-4 strong {
  background-color: #564835 !important;
}
#yempro-footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #20232C;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.06);
  min-height: 60px;
  min-height: calc(60px + (constant(safe-area-inset-bottom)) * 0.8) !important;
  min-height: calc(60px + (env(safe-area-inset-bottom)) * 0.8) !important;
  display: flex;
  text-align: center;
  transition: all 300ms ease;
}
#yempro-footer-bar a {
  color: #fff;
  padding-top: 12px;
  position: relative;
  flex: 1 1 auto;
}
#yempro-footer-bar a span {
  position: relative;
  z-index: 9999;
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-top: -6px;
  opacity: 0.7;
  font-family: roboto, sans-serif !important;
}
#yempro-footer-bar a i {
  font-size: 18px;
  position: relative;
  z-index: 9999;
}

.yempro-footer-bar-4 .active-nav::after,
.yempro-footer-bar-4 .active-nav-dev-twitt:after,
.yempro-footer-bar-4 .active-nav-dev-insta:after,
.yempro-footer-bar-4 .active-nav-dev-teleg:after,
.yempro-footer-bar-4 .active-nav-dev-whats:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: calc(-22px + (constant(safe-area-inset-bottom)) * 0.5) !important;
  bottom: calc(-22px + (env(safe-area-inset-bottom)) * 0.5) !important;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all 300ms ease;
}
.yempro-footer-bar-4 .active-nav span,
.yempro-footer-bar-4 .active-nav-dev-twitt span,
.yempro-footer-bar-4 .active-nav-dev-insta span,
.yempro-footer-bar-4 .active-nav-dev-teleg span,
.yempro-footer-bar-4 .active-nav-dev-whats span {
  opacity: 1 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  transform: translateY(-13px) !important;
}
.yempro-footer-bar-4 .active-nav i,
.yempro-footer-bar-4 .active-nav-dev-twitt i,
.yempro-footer-bar-4 .active-nav-dev-insta i,
.yempro-footer-bar-4 .active-nav-dev-teleg i,
.yempro-footer-bar-4 .active-nav-dev-whats i {
  font-size: 20px !important;
  transform: translateY(-15px);
}

.yempro-footer-bar-4 .active-nav:after {
  background-color: #564835;
}

.yempro-footer-bar-4 .active-nav-dev-twitt:after,
.yempro-footer-bar-4 .active-nav-dev-insta:after,
.yempro-footer-bar-4 .active-nav-dev-teleg:after {
  background-color: #222;
}

.yempro-footer-bar-4 .active-nav-dev-whats:after {
	background-color:#204000;
	content:"السلة";
	font-size:90%
}

.yempro-footer-bar-4 .active-nav,
.yempro-footer-bar-4 .active-nav-dev-whats {
  color: #fff !important;
}

.yempro-footer-bar-4 .active-nav-dev-twitt {
  color: #00B2FF !important;
}
.yempro-footer-bar-4 .active-nav-dev-insta {
  color: #FF0057 !important;
}
.yempro-footer-bar-4 .active-nav-dev-teleg {
  color: #007EFF !important;
}
.yempro-footer-bar-4 span {
  font-weight: 400 !important;
  font-size: 90% !important;
  opacity: 0.5 !important;
  padding-bottom: 5px;
}

.yempro-footer-bar-4 i {
  font-size: 170% !important;
  padding-top: 6px;
  padding-bottom: 8px;
}


